body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

  
  .container {
    width: 350px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .add-button {
    background-color: #a00337;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #4d1418;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .category-header {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ddd;
  }
  
  .task-item.completed {
    background-color: #d9f7be;
    color: #4caf50;
  }
  
  .task-item span {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .task-item button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .task-item button:hover {
    background-color: #e95544;
  }
  